body{
  background-color: rgb(99, 172, 144);
  font-family: 'Playfair Display', serif;
  font-size: 150%;
}
h1{
  color: blue;
}
.jumbotron {
  background-color: black;
}

p {
  background-color:whitesmoke;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}